<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WakeOnLan">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.details.AddDeviceActivity"
            android:label="@string/title_activity_add_device"
            android:theme="@style/Theme.WakeOnLan.NoDrawerActivity" />
        <activity
            android:name=".ui.home.details.EditDeviceActivity"
            android:label="@string/title_activity_edit_device"
            android:theme="@style/Theme.WakeOnLan.NoDrawerActivity" />
        <activity
            android:name=".ui.home.details.AddNetworkScanDeviceActivity"
            android:label="@string/title_activity_add_device"
            android:theme="@style/Theme.WakeOnLan.NoDrawerActivity" />

        <service
            android:name=".quicksettings.DeviceOneTileService"
            android:label="@string/tile_name_device_one"
            android:icon="@drawable/ic_tile_icon"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksettings.DeviceTwoTileService"
            android:label="@string/tile_name_device_two"
            android:icon="@drawable/ic_tile_icon"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".quicksettings.DeviceThreeTileService"
            android:label="@string/tile_name_device_three"
            android:icon="@drawable/ic_tile_icon"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".wear.WearDeviceClickedService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:scheme="wear"
                    android:host="*"
                    android:pathPrefix="/device_clicked" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>